<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="robot_arm" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        <joint name="shoulder_joint">
            <command_interface name='position'>
                <param name="min">-10</param>
                <param name="min">10</param>
            </command_interface>
            <state_interface name='position'/>
            <state_interface name='velocity'/>
        </joint>
        <joint name="upperarm_joint">
            <command_interface name='position'>
                <param name="min">-10</param>
                <param name="min">10</param>
            </command_interface>
            <state_interface name='position'/>
            <state_interface name='velocity'/>
        </joint>
        <joint name="elbow_joint">
            <command_interface name='position'>
                <param name="min">-10</param>
                <param name="min">10</param>
            </command_interface>
            <state_interface name='position'/>
            <state_interface name='velocity'/>
        </joint>
        <joint name="forearm_joint">
            <command_interface name='position'>
                <param name="min">-10</param>
                <param name="min">10</param>
            </command_interface>
            <state_interface name='position'/>
            <state_interface name='velocity'/>
        </joint>
    </ros2_control>

    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
                <parameters>
                    $(find robot_arm)/config/my_controllers.yaml
                </parameters>
        </plugin>
    </gazebo>

</robot>
